.app-content2 {
    background: url(../../img/main-fondo.jpg);
    background-repeat: repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;
    height: auto;
}

@media (min-width: 768px) {

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .9rem !important;
        padding-left: .9rem !important;
    }

}