<!DOCTYPE html>
<html>

<body>
    <p id="numero">0</p>
    <button onclick="iniciarConteo()">Iniciar Conteo</button>
    <script>
        var inval;
        var numero = 0;
        function iniciarConteo() {
            inval = setInterval(function () {
                numero = numero + 10;
                document.getElementById("numero").innerHTML = numero;
                if (numero == 150) {
                    clearInterval(inval)
                    alert("Conteo terminado!!")
                }
            }, 2000);
        }


    </script>
</body>

</html>